<header id="header">

	<a href="{{ site.baseurl }}">
		<!--img src="{{ "img/emerald.svg" | prepend: site.baseurl }}" alt="Emerald Logo">
	  <h1>emerald</h1-->
      <h1>The Unofficial CPSSD Homepage</h1>
      <p><a href="http://www.computing.dcu.ie/undergraduate/pssd/computational-problem-solving-software-development-cpssd">Computational Problem Solving and Software Development</a> (CPSSD) is an undergraduate computing course in <a href="http://dcu.ie>">Dublin City University</a>. It is aimed at applicants with prior programming experience, and is generally the hippest place to be this side of Ballymaloe.</p>
      <p>Learn more <a href="/about">here</a>.</p>
	</a>

</header>
