<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ .Description }}">
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .Site.BaseURL }}/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header class="center middle half min">
    <h1><a href="/" class="black">{{ .Site.Title }}</a></h1>
    <p>{{ .Site.Params.Description }}</p>
    <nav>
    {{ range where .Site.Pages "Type" "root-page" }}
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ end }}
    </nav>
  </header>
  <section class="middle half min">
